  <li class="collection-header">
    <h4><%= job.organization.name %></h4>
    <p><%= job.organization.description %></p>
  </li>
  <li class="collection-item">
    <a href="#!"><%= job.name %></a>
    <span class="badge"><%= job.description %></span>
  </li>